@model IncomeTaxCalculator.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        Year: <input type="text" id="datePicker" />
        <br />
        Federal Tax: <label id="FederalTaxTextBox"></label>
        <br />
        <label id="federalTaxAmount" value="0" />
        <input type="button" id="calculateFederalTaxes" class="calculate-federal-taxes-btn" value="Calculate Federal Taxes" />
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>

<script>
    $(document).ready(function () {
        $("#calculateFederalTaxes").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetFederalTaxes", "Home")',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    document.getElementById("FederalTaxTextBox").innerHTML = response;
                    console.log("Success");
                    console.log(response);
                },
                error: function (response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        });

        $(function () {
            $("#datePicker").datepicker();
        });
    });

</script>