@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        Income Amount: <input type="text" id="incomeAmount" />
        Federal Tax: <label id="federalTaxAmount" value="0"/>
        <input type="button" id="calculateFederalTaxes" value="Calculate Federal Taxes" />
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#calculateFederalTaxes").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetFederalTaxes", "Home")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#federalTaxAmount").empty();
                    $("#federalTaxAmount").val(response);
                    console.log("Success");
                    console.log(response);
                },
                error: function (response) {
                    console.log("Error");
                    console.log(response);
                }
            });
        });
    });
</script>